In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Case Number': ['A','A','Z','Z','H','H'],
    'Item1':['B','C','Z','Z','E','E'],
    'Item2':['D','D','Z','Z','B','B'],
    'Item3':['E','E','Z','Z','C','C'],
})

In [3]:
df

  Case Number Item1 Item2 Item3
0           A     B     D     E
1           A     C     D     E
2           Z     Z     Z     Z
3           Z     Z     Z     Z
4           H     E     B     C
5           H     E     B     C

In [4]:
df.drop_duplicates(keep = False)

  Case Number Item1 Item2 Item3
0           A     B     D     E
1           A     C     D     E